//Primary Color
$pink: hsl(322, 100%, 66%);

//Neutral Colors
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

//Body, call to action

//Fonts
$fontpoppin: 'Poppins', sans-serif;
$fontopensans: 'Open Sans', sans-serif;