.container {
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 375px;
}

#header {
  margin-bottom: 5rem;
  padding-top: 2rem;
  z-index: 1;

  .icon {
    align-items: center;
    display: flex;
    justify-content: space-between;

    img {
      width: 6.5rem;
    }

    .btnTry {
      background-color: white;
      border-radius: 15rem;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      color: $veryDarkCyan;
      font-family: $fontpoppin;
      font-size: 0.7rem;
      font-weight: 600;
      padding: 0.5rem 1rem 0.5rem 1rem;
      text-decoration: none;
    }
  }
}
